 .u-section-1 {
  background-image: none;
  min-height: 1108px;
}


.u-section-1 .u-shape-1 {
  width: 744px;
  height: 1071px;
  margin: 109px auto 0;
}

.u-section-1 .u-image-1 {
  width: 547px;
  height: 547px;
  background-image: url("images/IdeaNestLogo.png");
  background-position: 90% 0%;
  box-shadow: 2px 0 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 90deg;
  --animation-custom_in-scale: 0.2;
  margin: -1058px auto 0 calc(((100% - 1140px) / 2) + -19px);
}

.u-section-1 .u-group-1 {
  width: 453px;
  min-height: 367px;
  margin: -442px calc(((100% - 1140px) / 2) + 139px) 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  margin: 24px 41px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  letter-spacing: 0px;
  font-style: italic;
  text-align: left;
  margin: 22px auto 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: none none solid;
  font-style: italic;
  padding: 0;
}

.u-section-1 .u-list-1 {
  width: 1292px;
  margin: 143px auto 24px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  grid-gap: 20px 20px;
  min-height: 347px;
}

.u-section-1 .u-list-item-1 {
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-5 {
  line-height: 1.8;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-6 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-7 {
  line-height: 1.8;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-1 .u-list-item-3 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-8 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-1 .u-text-9 {
  line-height: 1.8;
  font-weight: 400;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1159px;
  }

  .u-section-1 .u-shape-1 {
    width: 664px;
    height: 1055px;
    margin-top: 137px;
  }

  .u-section-1 .u-image-1 {
    width: 468px;
    height: 468px;
    transition-duration: 0.5s;
    margin-top: -1042px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1 .u-group-1 {
    width: 377px;
    min-height: 446px;
    margin-top: -427px;
    margin-right: calc(((100% - 940px) / 2) + 93px);
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 86px;
  }

  .u-section-1 .u-list-1 {
    width: 940px;
    margin-top: 24px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 13.3333px));
    min-height: 252px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1970px;
  }

  .u-section-1 .u-shape-1 {
    width: 484px;
    height: 1680px;
    margin-top: 282px;
    margin-left: calc(((100% - 720px) / 2) + 102px);
  }

  .u-section-1 .u-image-1 {
    width: 482px;
    height: 482px;
    margin-top: -1680px;
    margin-left: calc(((100% - 720px) / 2) + 102px);
  }

  .u-section-1 .u-group-1 {
    min-height: 332px;
    width: 496px;
    margin-top: -74px;
    margin-right: calc(((100% - 720px) / 2) + 103px);
  }

  .u-section-1 .u-list-1 {
    width: 667px;
    margin-top: 41px;
    margin-bottom: 28px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: calc(50% - 21px) calc(50% - 21px);
    min-height: 876px;
    grid-gap: 42px 42px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-text-4 {
    margin-left: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-text-6 {
    margin-left: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-text-8 {
    margin-left: auto;
  }

  .u-section-1 .u-text-9 {
    width: auto;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 2025px;
  }

  .u-section-1 .u-shape-1 {
    width: 420px;
    height: 1772px;
    margin-top: 41px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    width: 451px;
    height: 451px;
    margin-top: -1685px;
    margin-left: calc(((100% - 540px) / 2) + 56px);
  }

  .u-section-1 .u-group-1 {
    margin-top: -63px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-left: 21px;
    margin-right: 21px;
  }

  .u-section-1 .u-text-3 {
    margin-left: auto;
  }

  .u-section-1 .u-list-1 {
    width: 614px;
    margin-top: -37px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 807px;
  }

  .u-section-1 .u-container-layout-2 {
    padding: 24px 20px;
  }

  .u-section-1 .u-container-layout-3 {
    padding: 24px 20px;
  }

  .u-section-1 .u-container-layout-4 {
    padding: 24px 20px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 2114px;
  }

  .u-section-1 .u-shape-1 {
    width: 252px;
    height: 1836px;
    margin-top: 130px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: -1819px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-group-1 {
    margin-top: -18px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.125rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-list-1 {
    width: 368px;
    margin-top: 0;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1055px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-text-4 {
    font-size: 2.125rem;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-text-6 {
    font-size: 2.125rem;
  }

  .u-section-1 .u-container-layout-4 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-text-8 {
    font-size: 2.125rem;
  }
}

/* Add styles for the animated text */
.animated-text {
  background: linear-gradient(45deg, #060b9c, #d490e8, #ec083d);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  padding: 10px;
  font-weight: 600; /* Increase font weight for extra boldness */
  font-family: 'Helvetica', Arial, sans-serif; /* Use a highly legible font */
  display: inline-block; /* Ensure inline-block for animation */
  animation: jump 1s infinite alternate, swing 1s infinite alternate ease-in-out; /* Add both jump and swing animations */
}

/* Define the jump animation */
@keyframes jump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* Adjust the jump height as needed */
  }
}

/* Define the swing animation */
@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(10deg); /* Adjust the swing angle as needed */
  }
<<<<<<< HEAD
=======
}


.marquee-container {
  width: 100%;
  overflow: hidden;
}

.marquee-content li {
  white-space: nowrap;
  display: inline-block; /* Ensures the li elements are displayed in a row */
  margin-right: 20px; /* Adjust as needed to provide spacing between items */
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  from {
      transform: translateX(100%);
  }
  to {
      transform: translateX(-100%);
  }
>>>>>>> 5ecb6831abc6342870e5abfa2b2e94ec1427a051
}